.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;

  &.disabled {
    opacity: .5;
    pointer-events: none;
  }

  .pageButton {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    min-width: 3rem;

    &:disabled {
      opacity: .35;
      cursor: not-allowed;
    }
  }

  .active {
    background-color: var(--primary-color);
  }
}
