.mainContent {
  display: flex;
  flex-direction: column;
  background: #5a6268;
  flex: 1;
  height: 100%;
  position: relative;
  padding: 1rem;
  overflow: hidden;
}

.postsList {
  list-style-type: none;
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  flex: 1;
}

.pagination {

}