.footer {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--background-alt-color);
  box-shadow: 0 0 64px var(--background-color);
  z-index: 1;
}