.card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: var(--spacing-sm);


  background-color: var(--background-alt-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: .5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
  padding: var(--spacing-md);
  transition: transform .2s ease, box-shadow .2s ease;

  @media screen and (max-width: 600px) {
    .statusChip, .collapseIndicator {
      display: none;
    }

    .cardMainInfo {
      margin-left: 0;
    }
  }
}


.collapsed {
  cursor: pointer;

  .cardContent {
    display: none;
  }

  .collapseIndicator {
    transform: rotate(180deg);
  }
}

.disabled {
  opacity: .5;
}

.cardMainInfo {
  flex: 1;
  margin: 0 0 0 var(--spacing-md);
}

.date {
  opacity: .5;
  float: right;
  padding-left: var(--spacing-md);
}

.removeButton {
  position: relative;
}

.subject {
  display: inline-block;
  padding: var(--spacing-sm) 0 0 0;

  &::first-letter {
    text-transform: uppercase;
  }
}

.name {
  display: inline;
  font-weight: 600;
  font-size: var(--font-size-lg);
  padding: 0 var(--spacing-md) 0 0;
  position: relative;
}

.header {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.collapseIndicator {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: .5;
  font-size: 1rem;
  line-height: 1;
  transition: transform .15s ease-in-out;
}

.statusChip {
  &::first-letter {
    text-transform: uppercase;
  }
}

.cardContent {
  --min-column-size: 10rem;

  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr));
  gap: var(--spacing-sm);
  margin-top: var(--spacing-md);
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, .15);
}
